body
{
  color:black;
  background-color: #722F37;
  font-family: 'Kadwa', serif;
}
h1
{
  font-size:50px;
  color:white;
}
.list
{
  background-color: white;
  padding: 8px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  margin:12px;
  }
.list:hover{

box-shadow: 0 10px 10px 0 black;
font-size: 20px;
}
.photo{
border: groove;
  border-color: orange;
 
  
}
.image
{
  background-color: white;
}
